/* Your Website Styles */
body{
  background: url("../img/subtle.png")
}

p{
  font-family: 'Gruppo', cursive;
  font-size: 1.5em;
  border-bottom: 2px solid #042658;
  color:#042658;
  margin-top:0em;
}

figure{

}


/* Gallery Stying */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);

}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 25em;
  overflow: hidden;
  text-align: center;
  background: url("../img/brushed.png");
}
.gallery .controls {
  background: url("../img/subtle.png");
  position: absolute;
  bottom: -7.3em;
  width: 100%;
  text-align: center;
}

.gallery .controls img{
  border:3px solid black;
  border-radius:25%;
  margin-top:.4em;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}